:root {
  --clr-pri-tomato-hsl: 4, 100%, 67%;

  --clr-neu-dark-slate-grey-hsl: 234, 29%, 20%;
  --clr-neu-charcoal-grey-hsl: 235, 18%, 26%;
  --clr-neu-grey-hsl: 231, 7%, 60%;
  --clr-neu-white-hsl: 0, 0%, 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
  font-family: "Roboto", sans-serif;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.signup-container {
  margin: 2rem 1.25rem;
  display: grid;
  gap: 1.25rem;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

.benefits-container {
  display: grid;
  gap: 1rem;
  margin-block: 1rem;
}

.benefit {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-weight: 700;
}

input {
  padding: 1rem 1.25rem;
  border-radius: 5px;
  border: solid 1px hsl(var(--clr-neu-grey-hsl));
}

button {
  margin-top: 1rem;
  padding: 0.75rem;
  background-color: hsl(var(--clr-neu-dark-slate-grey-hsl));
  color: hsl(var(--clr-neu-white-hsl));
  font-weight: 700;
  border-radius: 5px;
}

.success-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.25rem;
  gap: 1.5rem;
}

.success-container img {
  height: 60px;
  align-self: flex-start;
  margin-top: 30%;
}

.success-container p {
  line-height: 1.5rem;
}

.success-container button {
  margin-top: auto;
}

strong {
  font-weight: 700;
}

[hidden] {
  display: none !important;
}
